.align {
  position: absolute;
  top: 150px;
}
.color-div {
  height: 130px;
  width: 130px;
  margin: 15px;
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  float:left;
  text-align: center;
}

.color-code {
  position: relative;
  top: 30%;
}