.align {
  position: relative;
  top: 50px;
}
.color-div {
  height: 130px;
  width: 130px;
  margin-right: 15px;
  margin-bottom: 15px;
  border: none;
  transition-duration: 0.4s;
  text-decoration: none;
  float:left;
  text-align: center;
}

.color-code {
  position: relative;
  top: 30%;
}